<div class="links" align="center">
    <a href="http://scholar.google.com/citations?user=PHAEOXIAAAAJ&hl=en" target="_blank"><img src="http://www.beissingerlab.github.io/img/scholar.png" style="width: 30px;"></a>
    <a href="https://twitter.com/timbeissinger" target="_blank"><img src="http://www.beissingerlab.github.io/img/Twitter_logo_blue.png" style="width: 30px; border=10 px"></a>
</div>


<div class="footer" align="center">

  Thank you <a href=http://diezcami.github.io target="_blank">Camille
  Diez</a> for the website theme.

</div>
